@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.header {
  background: url("/tattoo/img/bg_top.jpg") center/cover no-repeat;
  padding: 1.727% 0 23.384%;
}

.header__container {
  max-width: 795px;
  margin: 0 auto;
}

.navigation {
  padding: 0 3%;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  display: inline;
  align-self: center;
  font-size: 12px;
  color: #1a1a1a;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
.menu__item:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #1a1a1a;
  position: absolute;
  top: 20px;
  left: 0;
  transition: width 0.2s linear;
}
.menu__item:hover:after {
  width: 100%;
}

.logo {
  flex: 0 1 10px;
  max-width: 100%;
}

@media all and (max-device-width: 760px) {
  .header {
    padding-bottom: 5%;
  }

  .menu__item {
    display: none;
  }

  .menu-burger {
    display: block !important;
    align-self: center;
    position: absolute !important;
    right: 6%;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 200px;
  }
}
.menu-burger {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  z-index: 3;
  margin: 0 0 0 10%;
}

.menu-burger span {
  position: absolute;
  background-color: #1a1a1a;
  width: 100%;
  height: 2px;
  top: 14px;
  left: 0;
  bottom: 9px;
}

.menu-burger:before,
.menu-burger:after {
  content: "";
  background-color: #1a1a1a;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.menu-burger:before {
  top: 0;
}

.menu-burger:after {
  bottom: 0;
}

.menu-burger.active:before {
  transform: rotate(45deg);
  top: 13px;
  background-color: #fff;
}

.menu-burger.active:after {
  transform: rotate(-45deg);
  bottom: 14px;
  background-color: #fff;
}

.menu-burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}

body.lock {
  overflow: hidden;
}

.menu-burger__menu {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 100px 0px 0px 0px;
  transition: all 0.3s ease 0s;
}
.menu-burger__menu.active {
  display: block;
  top: 0;
}

.menu-burger__item {
  display: block;
  text-align: center;
  margin: 8%;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
}

.about-title {
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
  background: url("/tattoo/img/about__bg.jpg") center/cover no-repeat;
  min-height: 270px;
  min-width: 360px;
}

.title {
  font-size: calc(19px + 17 * (100vw / 1500));
  text-transform: uppercase;
  color: #010101;
  border: calc(5px + 5 * (100vw / 1500)) solid #121212;
  align-self: center;
  padding: 4% 8%;
  transition: 0.2s linear;
}
.title:hover {
  background-color: rgba(242, 239, 229, 0.6);
}

.about-text {
  flex: 1 1 50%;
  background-color: #F2EFE5;
  padding: 6.067% 0 9.267%;
}

.about-text__body {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 3%;
}
.about-text__body p:first-of-type {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  margin: 0 0 4.35%;
  text-align: center;
}
.about-text__body p {
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  text-align: left;
}

.about-text__img {
  display: block;
  margin: 0 auto 4.955%;
}

.about-works__container {
  display: flex;
  flex-wrap: wrap;
}

.work {
  flex: 1 0 16.6666666%;
}

.work__body {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.work__body > img {
  height: auto;
  width: 100%;
  min-width: 250px;
  transition: transform 0.2s linear;
}
.work__body:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc8b6;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.work__body:hover > img {
  transform: scale(1.1);
}
.work__body:hover a {
  opacity: 1;
  position: relative;
  z-index: 2;
}
.work__body:hover:after {
  opacity: 0.66;
}

.work__links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.work__links a {
  transition: all 0.2s linear;
  opacity: 0;
  display: inline-block;
}
.work__links a:first-of-type {
  display: block;
  margin: 40% auto 31px;
  width: 30px;
}
.work__links a:nth-of-type(2) {
  margin: 0 0 0 10px;
}
.work__links a:nth-of-type(3) {
  margin: 0 40px;
}
.work__links a:hover {
  transform: scale(1.1);
}

@media all and (max-device-width: 753px) {
  .work__body img {
    min-width: 180px;
  }
}
.testimonials {
  background: url("/tattoo/img/testimonials__bg.jpg") center/cover no-repeat;
  padding: 2% 0 3%;
}

.testimonials__container {
  max-width: 1000px;
  margin: 0 auto;
}

.testimonial {
  font-size: calc(16px + 8 * (100vw / 1500));
  line-height: 1.2;
  font-weight: 600;
  font-style: italic;
  color: #f2efe5;
}

.testimonial__text {
  display: flex;
  justify-content: center;
}
.testimonial__text p {
  flex: 0 0 70%;
  align-self: center;
  text-align: center;
}
.testimonial__text span {
  flex: 0 0 15%;
  display: block;
  font-size: calc(30px + 120 * (100vw / 1500));
  font-weight: 400;
}
.testimonial__text span:last-of-type {
  align-self: flex-end;
  line-height: 0;
}

.testimonial__author {
  font-size: calc(12px + 6 * (100vw / 1500));
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  margin: 1% 11% 0 0;
}

.team__container {
  display: flex;
  flex-wrap: wrap;
}

.team-title {
  display: flex;
  justify-content: center;
  flex: 1 1 33.3333333333%;
  background: url("/tattoo/img/team_bg.jpg") center/cover no-repeat;
  min-height: 270px;
  min-width: 360px;
}

.member {
  flex: 1 1 66.6666666667%;
}

.member__container {
  display: flex;
  flex-wrap: wrap;
}

.member__photo {
  flex: 1 1 50%;
  min-width: 360px;
  background-color: #CCC8B6;
}
.member__photo img {
  object-fit: cover;
}

.member__body {
  flex: 1 1 50%;
  color: #000;
  padding: 11.2% 5% 11.7%;
  background-color: #CCC8B6;
}

.member__name {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 8.4% 0;
  text-align: center;
}

.mailing {
  flex: 1 1 33.3333333333%;
  min-width: 360px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 33px;
  height: 33px;
  margin: 10% 0 0 0;
  transition: background 0.2s;
}
.link:nth-of-type(1) {
  background: url("/tattoo/img/facebook.png") center no-repeat;
}
.link:nth-of-type(1):hover {
  background: url("/tattoo/img/facebook(blue).png") center no-repeat;
}
.link:nth-of-type(2) {
  background: url("/tattoo/img/twitter.png") center no-repeat;
}
.link:nth-of-type(2):hover {
  background: url("/tattoo/img/twitter(blue).svg") center no-repeat;
}
.link:nth-of-type(3) {
  background: url("/tattoo/img/tumblr.png") center no-repeat;
}
.link:nth-of-type(3):hover {
  background: url("/tattoo/img/tumblr(blue).png") center no-repeat;
}
.link:nth-of-type(4) {
  background: url("/tattoo/img/in.png") center no-repeat;
}
.link:nth-of-type(4):hover {
  background: url("/tattoo/img/in(blue).png") center no-repeat;
}
.link:nth-of-type(5) {
  background: url("/tattoo/img/instagram.png") center no-repeat;
}
.link:nth-of-type(5):hover {
  background: url("/tattoo/img/instagram(color).png") center no-repeat;
}
.link:nth-of-type(6) {
  background: url("/tattoo/img/google.png") center no-repeat;
}
.link:nth-of-type(6):hover {
  background: url("/tattoo/img/google(red).png") center no-repeat;
}

.mailing {
  background-color: #F2EFE5;
}

.mailing__container {
  width: 300px;
  margin: 30% auto;
}

.mailing__text {
  text-transform: uppercase;
  width: 220px;
  text-align: left;
}
.mailing__text p:first-of-type {
  font-weight: 600;
  line-height: 18px;
}
.mailing__text p:last-of-type {
  font-size: 12px;
  margin: 0 0 18% 0;
}

.mailing-form__email {
  width: 300px;
  height: 40px;
  border: 1px solid #000000;
  color: rgba(51, 51, 51, 0.45);
  text-transform: uppercase;
  padding: 12px 0 12px 20px;
  background-color: transparent;
  margin: 0 0 22px;
  display: block;
}
.mailing-form__email:hover, .mailing-form__email:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.mailing-form__submit {
  width: 300px;
  height: 40px;
  background-color: #9a977a;
  color: #fff;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.mailing-form__submit:hover {
  transform: scale(0.96);
}

@media all and (max-device-width: 1080px) {
  .member:nth-of-type(3) > .member__container {
    flex-direction: row-reverse;
  }

  .mailing__container {
    margin: 10% auto;
  }

  .member__photo img {
    width: 100%;
    height: 100%;
  }
}
.twitts {
  background: url("/tattoo/img/twitts_bg.jpg") center/cover no-repeat;
  padding: 6.33% 0 9.65%;
}

.twitts__container {
  max-width: 950px;
  margin: 0 auto;
}

.twitt {
  font-size: calc(14px + 8 * (100vw / 1500));
  line-height: 22px;
  font-style: italic;
  color: #f2efe5;
}

.twitt__logo {
  width: 32px;
  margin: 0 auto 30px;
}

.twitt__text {
  padding: 0 20px 10px;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
}

.gallery__title {
  flex: 1 1 40%;
  background-color: #AFAC9C;
  display: flex;
  justify-content: center;
  min-height: 250px;
  min-width: 360px;
}

.work--bigger {
  flex: 1 1 20%;
}

.contact {
  padding: 12% 0 10.2% 0;
  background-color: #E7E5D0;
}

.contact__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1 1 51.28%;
  padding: 0 50px 0 0;
}
.contact-info__body {
  display: flex;
  flex-direction: column;
}
.contact-info__title {
  margin: 0 0 12% 0;
}
.contact-info__text {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin: 0 0 10%;
  padding: 0 15px;
}
.contact-info__container {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 13%;
  padding: 0 15px;
  max-width: 600px;
}
.contact-info__info {
  flex: 1 1 50%;
  padding: 0 12px 0 0;
}
.contact-info__info span {
  display: block;
  line-height: 20px;
}
.contact-info__info span:first-of-type {
  margin: 0 0 20px;
  font-weight: 600;
}
.contact-info__info span a, .contact-info__info span adress {
  color: #000;
  text-transform: none;
  font-weight: bold;
}
.contact-info__info span a:hover {
  transition: all 0.2s linear;
  text-decoration: underline;
  color: darkblue;
}
.contact-info__social {
  width: 380px;
  align-self: center;
}
.contact-info__work-hours {
  flex: 1 1 50%;
  padding: 0 12px;
}
.contact-info__work-hours > span {
  display: block;
  margin: 0 0 20px;
}
.contact-info__work-hours span {
  font-weight: 600;
}
.contact-info__work-hours p {
  line-height: 22px;
}

.contact-form {
  flex: 1 1 40.17%;
  padding: 0 50px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333;
  max-width: 520px;
}
.contact-form__text {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 2px solid #000;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  padding: 0 0 0 18px;
  transition: all 0.2s linear;
}
.contact-form__text:nth-of-type(2) {
  margin: 14.3% 0;
}
.contact-form__text:last-of-type {
  height: 220px;
  resize: none;
  line-height: 22px;
  padding: 12px 0 0 18px;
}
.contact-form__text:hover, .contact-form__text:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.contact-form__submit {
  margin: 9% 15% 0 0;
  width: 88%;
  height: 60px;
  background-color: #9a977a;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact-form__submit:hover {
  transform: scale(0.96);
}

@media all and (max-device-width: 965px) {
  .contact-info {
    padding: 0;
    flex: 1 1 100%;
    margin: 0 0 60px;
  }
  .contact-info__container {
    align-self: center;
    margin: 0;
  }
  .contact-info__info {
    max-width: 300px;
    min-width: 270px;
  }
  .contact-info__work-hours {
    max-width: 300px;
    min-width: 270px;
  }

  .contact-form {
    margin: 0 auto;
    padding: 0 7%;
  }
}
@media all and (max-device-width: 599px) {
  .contact-info__container {
    margin: 0 0 10px;
  }
  .contact-info__info {
    padding: 0;
    margin: 0 auto 30px;
  }
  .contact-info__work-hours {
    padding: 0;
    margin: 0 auto;
  }
}
@media all and (max-device-width: 400px) {
  .contact-info__social {
    width: 330px;
  }
}
.googgle-map {
  width: 100%;
  height: auto;
  min-height: 500px;
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.map {
  max-height: 500px;
}

.footer {
  background-color: #aeaeae;
  padding: 11.6% 0 4.62%;
}

.footer__container {
  max-width: 795px;
  margin: 0 auto;
}

.footer__copyright {
  margin: 13.5% 0 0;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.footer__menu-burger.active {
  transform: translateY(-1500%);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}