.team{
    
}

.team__container{
    display: flex;
    
    flex-wrap: wrap;
}

.team-title{
    display: flex;
    justify-content: center;
    
    flex: 1 1 33.33333333333%;
    
    background: url('/tattoo/img/team_bg.jpg') center / cover no-repeat;
    
    min-height: 150px;
    min-width: 360px;
}

.member{
    flex: 1 1 66.6666666666666%;
}

.member__container{
    display: flex;
    
    flex-wrap: wrap;
}

.member__photo{
    flex: 1 1 50%;
    
    min-width: 360px;
    
    img{
        object-fit: cover;
    }
    
    background-color: #CCC8B6;
}

.member__body{
    flex: 1 1 50%;
    
    color: #000;
    
    padding: 11.2% 5% 11.7%;
    
    background-color: #CCC8B6;
}

.member__name{
    font-size: 24px;
    
    text-transform: uppercase;
    
    margin: 0 0 8.4% 0;
    
    text-align: center;
}

.mailing{
    flex: 1 1 33.3333333333333%;
    min-width: 360px;
}

.social{
    display: flex;
    justify-content: space-between;
}
.link{
    
    width: 33px;
    height: 33px;
    
    margin: 10% 0 0 0;
    
    transition: background .2s;
    
    &:nth-of-type(1){
        background: url('/tattoo/img/facebook.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/facebook(blue).png') center no-repeat;
        }
    }
    
    &:nth-of-type(2){
        background: url('/tattoo/img/twitter.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/twitter(blue).svg') center  no-repeat;
        }
    }
    &:nth-of-type(3){
        background: url('/tattoo/img/tumblr.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/tumblr(blue).png') center no-repeat;
        }
    }
    &:nth-of-type(4){
        background: url('/tattoo/img/in.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/in(blue).png') center no-repeat;
        }
    }
    &:nth-of-type(5){
        background: url('/tattoo/img/instagram.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/instagram(color).png') center no-repeat;
        }
    }
    &:nth-of-type(6){
        background: url('/tattoo/img/google.png') center no-repeat;
        
        &:hover{
            background: url('/tattoo/img/google(red).png') center no-repeat;
        }
    } 
}

.mailing{
    background-color: #F2EFE5;
}

.mailing__container{
    width: 300px;
    
    margin: 30% auto;
}

.mailing__text{
    text-transform: uppercase;
    
    width: 220px;
    
    text-align: left;
    
    p:first-of-type{
        font-weight: 600;
        line-height: 18px;
    }
    
    p:last-of-type{
        font-size: 12px;
        
        margin: 0 0 18% 0;
    }
}

.mailing-form__email{
    width: 300px;
    height: 40px;
    border: 1.0px solid #000000;
    
    color: rgba(51, 51, 51, .45);
    text-transform: uppercase;
    
    padding: 12px 0 12px 20px;
    
    background-color: transparent;
    
    margin: 0 0 22px; 
    
    display: block;
    
    &:hover , &:focus{
        background-color: rgba(255, 255, 255, .5);
    }
}

.mailing-form__submit{
    width: 300px;
    height: 40px;
    background-color: #9a977a;
    
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    
    cursor: pointer;
    
    transition: transform .2s linear;
    
    &:hover{
        transform: scale(.96);
    }
}

@media all and(max-device-width: 1080px){
    .member:nth-of-type(3) > .member__container{ //хз почему 3
        flex-direction: row-reverse;
    }
    .mailing__container{
        margin: 10% auto;
    }
    
    .member__photo{
        img{
            width: 100%;
            height: 100%;
        }
    }
}


