.testimonials{
    background: url('/tattoo/img/testimonials__bg.jpg') center / cover no-repeat;
    
    padding: 2% 0 3%;
}

.testimonials__container{
    max-width: 1000px;
    
    margin: 0 auto;
}

.testimonial{
    font-size: calc(16px + 8 * (100vw / 1500));
    line-height: 1.2;
    font-weight: 600;
    font-style: italic;
    color: #f2efe5;
}

.testimonial__text{
    display: flex;
    
    justify-content: center;
    p{
        flex: 0 0 70%;
        align-self: center;
        text-align: center;

    }
    span{
        flex: 0 0 15%;
        display: block;
        
        font-size: calc(30px + 120 * (100vw / 1500));
        font-weight: 400;
        
        &:first-of-type{
        }
        &:last-of-type{
            align-self: flex-end;
            line-height: 0;
        }
    }
}

.testimonial__author{

    font-size: calc(12px + 6 * (100vw / 1500));
    font-weight: 400;
    text-transform: uppercase;

    text-align: right;
    
    margin: 1% 11% 0 0;
}